*~
*.pyc
*.swp
db.sqlite3
.cache
.idea
ansible/ansible-tools
ansible/identity_uw.retry
credentials
.coverage
.test_output.xml
.tox
.eggs
/log
settings/identity_uw_secrets.py
settings/ken.py
/node_modules
/static-finders-cache
/static
/v
